.man{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
    border: solid black 5px;
    margin-left: 29%;
    margin-top: 40px;
    padding: 1%;

}

h1{
    color: white;
    margin-left: 40%;
}

.input_txt{
    height: 35px;
}

#submit{
    height: 70px;
    width: 200px;
    margin-left: 29%;
    color: white;
    background-color: red;
}

#submit:hover{
    background-color: black;
    cursor: pointer;
}



