.log_in{
    background-color: greenyellow;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 20px;
    border: solid 5px;
}

h1{
    color: white;
    margin-left: 35%;
}

#submit{
    width: 50%;
    margin-left: 95px;
    height: 65px;
    background-color: red;
    color: white;
}

.input_txt{
    height: 35px;
}

#submit:hover{
    background-color: black;
    cursor: pointer;
}


