.form{
    display: flex;
    flex-direction: column;
    border-style: dashed;
    height: 430px;
    width: 300px;
    margin-left: 40%;
    margin-top: 7%;
}

.b{
    display: flex;
    background-color: greenyellow;
    justify-content: space-between;
    color: white;
}

#jk{
    margin-right: 67%;
    color: white;
}

#search{
  flex-direction: 30px;
  color: white;
  margin-right: 10px;
  margin-top: 15px;
  width: 130px;
  height: 35px;
  border-radius: 10px;
}

#oma{
    color: white;
}